.wrapper {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    .heading {
        margin-bottom: 50px;
        text-align: center;
        .heading-name {
            font-size: 30px;
            .heading-text {
                color: var(--primary-color);
            }
        }
    }
    .content {
        padding: 20px 10px;
        border: 1px solid #ccc;

        .input-title {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            margin-bottom: 20px;
            &::placeholder {
                font-size: 35px;
                color: #b3b3b1;
            }
        }
        .content-blog {
            height: 500px;
            padding: 0 16px;
            overflow-y: auto;
        }
    }
    .btn {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}
