.wrapper {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    .content-detail {
        margin-top: 20px;
        .message {
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            color: rgb(224, 60, 49);
        }
        .content-input {
            display: flex;
            .type-normal {
                width: 100%;
                min-height: 100px;
                border: 1px solid #000;
                padding: 10px;
                .type-name {
                    display: flex;
                    font-size: 18px;
                    font-weight: 700;
                    color: #f47425;
                    .type-post {
                        margin-left: 5px;
                    }
                    .checkbox {
                        width: 4%;
                    }
                }
            }
            .input-text {
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 10px;
                padding: 10px;
                &:focus {
                    border: 1px solid var(--black-color);
                }
            }
            .detail-name {
                font-size: 18px;
                font-weight: 600;
                min-width: 170px;
                max-height: 48px;
            }
            .type-vip {
                width: 75% !important;
                display: flex;
                .multip,
                .cost {
                    margin: 8px;
                    .cost-total {
                        margin-left: 2px;
                        color: var(--secondary-color);
                    }
                }
            }
            .type-vip-special {
                width: 29%;
            }
            textarea {
                width: 100%;
                border: 1px solid black;
                height: 150px;
            }
        }
    }

    .content-rule {
        margin: 20px 0 20px 0;
        display: flex;
        .rule {
            margin-left: 20px;
            font-weight: 800;
        }
    }
    .submit-btn {
        display: flex;
        justify-content: flex-end;

        .btn-right {
        }
    }
}

@media all and (max-width: 768px) {
    .wrapper {
        .content-detail {
            .content-input {
                .type-vip {
                    width: 100% !important;
                    display: flex;
                }
                .type-vip-special {
                    width: 50%;
                }
            }
        }
    }
}
