.wrapper {
    margin-top: var(--margin-0);
}
.box {
    display: flex;
    box-shadow: var(--box-shadown-0);
    height: 180px;
    // justify-content: content;
    // align-items: center;
    padding: var(--padding-1);
    cursor: pointer;
    border-radius: var(--radius-1);
    .box-title {
        box-shadow: var(--box-shadow-1);
        p {
            margin: 20px 0 20px 0;
        }
        .btn-do {
            margin-top: 20px;
            padding: var(--padding-1);
            background-color: var(--primary-color);
            color: var(--white-color);
            border-radius: var(--radius-1);
        }
    }
}
