.wrapper {
    display: inline-block;
    margin-top: var(--margin-top-0);
    h1 {
        color: var(--primary-color);
        margin-left: 35%;
        display: inline-block;
    }
}
.content {
    box-shadow: var(--box-shadown-0);
    padding: var(--padding-1);
    margin-top: var(--margin-top-0);
    border-radius: var(--radius-1);
    margin: 0 0 20px 0;
    .content-rule {
        h3 {
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        p {
            font-size: 17px;
        }
    }
}
.content-box {
    font-size: 20px;
    box-shadow: var(--box-shadown-0);
    padding: var(--padding-2);
    margin: 20px 0 20px 0;
    border-radius: var(--radius-1);
    .number-use {
        margin-left: 30%;
        color: var(--primary-color);
    }
}
