.wrapper {
}
input {
    border-radius: 5px;
}
.primary {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
}

.header {
    width: 100%;
    // font-size: 2.6rem;
}
.discript {
    border: 1px solid #000;
    width: 100%;
    height: 200px;
}
.selected {
    width: 20%;
    border: 1px solid #000;
}
