.wrapper {
    margin-top: var(--margin-0);
}
.related-job {
    margin-top: var(--margin-top-0);
    display: flex;
    justify-content: space-between;
    .related-title {
        font-size: 2.8rem;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .related-more {
        cursor: pointer;
        border-radius: var(--radius-1);

        span {
            color: var(--primary-color);
            font-weight: 700;
            font-size: 15px;
            // &:hover {
            //     color: var(--white-color);
            //     background-color: var(--secondary-color);
            //     padding: 10px;
            // }
        }
    }
}
