.wrapper {
    margin-top: var(--margin-0);
}
.related-job {
    margin-top: var(--margin-top-0);
    display: flex;
    justify-content: space-between;
    .related-title {
        font-size: 2.8rem;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .related-more {
        cursor: pointer;
        padding: 10px;
        color: var(--white-color) !important;
        background-color: var(--secondary-color);
        border-radius: var(--radius-1);
    }
}
