.category {
    margin: 30px 0 30px 0px;
}
.title-category {
    font-size: 30px;
}
.quiz-title {
    font-size: 30px;
}
.quiz {
    background-color: var(--gray-light-color-3);
    border-radius: 10px;
}
.submit {
    display: flex;
    justify-content: center;
    margin: 100px 0 100px 0;

    .submit-btn {
        width: 200px;
        height: 60px;
        font-size: 30px;
    }
}
.title-image{
    margin-top: 30px;
    font-size: 30px;
}
.image{
    margin: 50px 0 50px 0 ;
}