.wrapper {
    position: relative;
    margin: 4px -8px;
    div,
    ol,
    ul {
        margin: 0;
    }
}

.toolbar-editor {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: calc(100% + 10px);
    border-radius: 10px;
    padding: 8px;
    box-shadow: var(--box-shadow-2);
    background: hsla(0, 0%, 100%, 0.7);
    z-index: 99;
    width: 146px;
}

.editor {
    padding: 0 8px;
    border-radius: 4px;
    &:hover {
        box-shadow: var(--box-shadow-2);
        background-color: var(--gray-light-color-3);
    }
    &:focus-within {
        border: 1px solid var(--gray-light-color-2);
        box-shadow: var(--box-shadow-2);
    }
}

.editor-item {
    background-color: transparent;
    border: none;
    color: var(--white-color);
    box-shadow: none;
    &[aria-selected='true'] {
        background-color: var(--fb-color);
    }
    &:hover {
        box-shadow: none;
    }
}
