.menu-item {
    display: flex;
    width: 120px;  
    margin-left: 1150px;
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: background-color ease-in-out 200ms;
    
    &:hover {
        background-color: var(--secondary-color);
        color: var(--white-color);
    }
}

.title {
    margin-left: 15px;
}

