.container {
    margin-top: 20px;
    display: flex;
    .avatar {
        border-right: 1px dashed var(--desc-color);
    }

    .infor {
        margin-left: 20px;
        .infor-content {
            .infor-set {
                font-size: 1.8rem;
            }
        }
    }
    .descript {
        width: 100%;
        h3 {
            font-weight: 800;
            margin-bottom: 20px;
        }
    }

    .infor-header {
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 20px;
    }
}
.submit-btn {
    margin: var(--margin-tb);
    margin-left: 90%;
}
