.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    .container {
        display: flex;
        .user {
            margin-right: 200px;
            position: relative;
            padding: 10px;
            margin-right: 200px;
            width: 150px;
            height: 110px;
            overflow: hidden;
            z-index: 1;
            .user-infor {
                position: absolute;
                z-index: 10;
                inset: 2px;
                background-color: #fff;
                padding: 10px 3px 0px 3px;
                .username {
                    color: #292929;
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin-bottom: 0;
                    padding: 0 0 10px 36px;
                    border-bottom: 1px dotted #757575;
                }
                .icon {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    color: #757575;
                    font-size: 1.6rem;
                    cursor: pointer;
                }
            }
            &:before {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                // transform: ;
                width: 150px;
                height: 110px;
                // background-color: #45f3ff;
                background-image: linear-gradient(
                    0deg,
                    transparent,
                    #45f3ff,
                    #45f3ff
                );
                animation: animate 6s linear infinite;
                transform-origin: bottom right;
            }
            &:after {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 150px;
                height: 110px;
                background-image: linear-gradient(
                    0deg,
                    transparent,
                    #45f3ff,
                    #45f3ff
                );
                animation: animate 6s linear infinite;
                transform-origin: bottom right;
                animation-delay: -3s;
            }
        }

        .content {
            width: 668px;
            .content-header {
                color: #222;
                font-size: 40px;
                font-weight: 700;
            }
            .content-detail {
                font-size: 18px;
                line-height: 2;
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
