.wrapper {
    background-color: #d0eef9;
    background-image: linear-gradient(
        180deg,
        #d0eef9 0%,
        #f8e6ec 60%,
        #ffffff 100%
    );
    padding: 50px 0;
    user-select: none;
    .heading {
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 700;
    }

    .left {
        padding: 20px;
        background: hsla(0, 0%, 100%, 0.3);
        border-radius: 10px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        .box-search-img {
            height: 400px;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }
}

.advanced {
    margin: 20px 0;
    .advanced-title {
        margin-bottom: 10px;
        font-weight: 600;
    }
}

.btn {
    width: 100%;
    height: 44px;
}
