.wrapper {
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
        .controls {
            display: flex;
        }
        .controls-mark {
            display: block;
        }
    }
    &:has(.header) {
        flex-direction: column;
        justify-content: center;
        margin: 0 -8px;
        .editor {
            width: 100%;
        }
    }
    .header {
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;
        margin-top: 24px;
    }
}

.controls {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 28px;
    margin-right: 8px;
    width: 60px;
    height: calc(100% + 150px);
    border-radius: 8px;
    z-index: 100;
    .controls-icon {
        cursor: pointer;
        display: flex;
        margin: auto;
        &:hover {
            opacity: 0.7;
        }
    }
}

.controls,
.controls-mark {
    content: '';
    position: absolute;
    display: none;
    background: hsla(0deg, 0%, 100%, 0.7);
}

.controls-mark {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: calc(100% + 40px);
    width: 100%;
}

.controls-left {
    right: 100%;
}

.controls-right {
    left: 100%;
    height: calc(100% + 40px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 100;
}

.title {
    padding-right: 12px;
    .title-content {
        font-weight: 600;
    }
    .span-title {
        position: absolute;
        opacity: 0;
        z-index: -100;
        white-space: pre;
        padding: 0 8px;
    }

    .input-title {
        font-weight: 600;
        font-size: 14px;
        padding-left: 8px;
        border: none;
        outline: none;
        font-family: inherit;
        font-size: inherit;
    }
}
