.wrapper {
    margin: 50px 0;
    .heading {
        font-size: 32px;
        font-weight: 700;
    }
}

.settings-block-heading {
    margin-top: 40px;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 600;
    // border-bottom: 1px solid var(--gray-light-color);
}

.right {
    text-align: center;
}
