.wrapper {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .heading {
            font-size: 28px;
            font-weight: 700;
            margin: 0;
        }
    }
}

.content {
    margin-top: 40px;
    .action-column {
        width: 60px;
        text-align: center;
    }
    &-icon {
        font-size: 22px;
        color: var(--invalid-color);
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    td {
        vertical-align: middle;
    }
}

.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
