.wrapper {
    height: 100%;
    padding-bottom: 30px;
    margin: 0 auto;
}
.information {
    font-size: 50px;
    margin: 0 0 40px 50px;
}
.category {
    margin: 30px 0 30px 50px;
}
.dropdown {
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    margin-top: 30px;
}
.title-describe,
.title-quiz,
.title-image {
    margin-left: 50px;
    height: 50px;
}
.input-title-quiz,
.input-describe{
    margin: 30px 0 30px 50px;
    width: 1000px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
}
.image {
    margin: 30px 0 30px 50px;
}
.submit-btn {
    padding: 30px 0 30px 50px;
}
