.wrapper {
    height: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
}
.information {
    font-size: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
}
.title-describe,
.title-quiz {
    margin-left: 50px;
}
.input-title-quiz,
.input-describe {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    margin-left: 50px;
}
.submit-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}
