.navigation-item {
    .navigation-item-link {
        transition: all 0.3s;
        font-weight: 700;
        padding: 4px 8px;
        &:hover {
            color: var(--primary-color);
        }
    }
    .active {
        color: var(--primary-color);
    }
}