.wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: right;
    text-align: left;

}

.inner {
    margin: 0 auto;
    border-radius: 50px;
}

.title {
    margin: auto;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.notification-bar {
    display: flex;
    margin-left: 9.8%;
    width: 34%;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 100px;
    position: fixed;
    padding: 0 var(--default-layout-horizontal-spacer);
    height: var(--default-layout-header-height);
    justify-content: space-between;
    border-bottom: 1px solid #e8ebed;
    box-shadow: 0 -2px 20px rgb(0 0 0 / 10%);
    z-index: 100;
    background-color: #FFFAF0;
}

.total-question-icon{
    color: var(--primary-color);
    font-size: 20px;
}

.total-question{
    font-size: 15px;
    margin-left: 10px;
}



.time-icon{
    color: var(--primary-color);
    margin-left: 449px;
    font-size: 20px;
}
.time{
    margin-left: 10px;
    font-size: 15px;
}




// question

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.quiz-heading {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 40px;
   
}

.quiz-list {
    margin: 0;
    padding: 25px;
}

.quiz-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    font-size: 20px;
}

.quiz-item-after{
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

#quiz-button {
    text-align: left;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 5px 15px;
    cursor: pointer;
}
#quiz-button-after {
    text-align: left;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px 15px;
    color: #2f922f;
    background-color: white;
}


#quiz-button+#quiz-button {
    margin-top: 20px;
}

#quiz-button:hover:not(:disabled) {
    background-color: var(--primary-color);
    color: white;
}

#quiz-button.correct,
#quiz-button.correct:hover:disabled {
    color: green;
}

#quiz-button.incorrect,
#quiz-button.incorrect:hover:disabled {
   color: red;
}



#quiz-button:focus {
    outline: none;
}

#quiz-button:disabled {
    opacity: 0.7;
}

.score-section {
    background-color: #F08080;
    font-size: 20px;
    color: white;   
    border-radius: 20px;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px;
}


.score-text::after,
.score-text::before {
    content: "";
    position: absolute;
    top: 18px;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.score-text::after {
    right: -19px;
    transform: rotate(-90deg);
}

.score-text::before {
    left: -19px;
    transform: rotate(90deg);
}

.score-text{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.answer-text,.answer-text-1{
    text-align: center; 
}


.answer-text-1{
    margin-bottom: 50px;
}

.text-bottom{
    margin-top: 50px;
    text-align: center;
    font-size: 23px;
    margin-bottom: 50px;
}

.new-quiz{
    background-color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    width: 200px;
    border-radius: 20px;
    cursor: pointer;
}

.new-quiz:hover{
    background-color: var(--secondary-color);
}
