.wrapper {
    margin: 40px 0px 0px 0px;
    text-align: left;
}

.inner {
    margin: 0 auto;
    border-radius: 50px;
}

.time-quiz {
    display: flex;
    justify-content: center;
}
.notification-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: fixed;
    padding: 0 var(--default-layout-horizontal-spacer);
    height: var(--default-layout-header-height);
    border-bottom: 1px solid #e8ebed;
    box-shadow: 0 -2px 20px rgb(0 0 0 / 10%);
    z-index: 100;
    background-color: #fffaf0;
    .time {
        margin-left: 10px;
        font-size: 15px;
    }
    .time-icon {
        color: var(--primary-color);
        margin-left: 449px;
        font-size: 20px;
    }
    .total-question {
        margin-left: 10px;
        font-size: 15px;
    }
    .total-question-icon {
        color: var(--primary-color);
        font-size: 20px;
    }
}

//information quiz

.information {
    margin-top: 100px;
}
.quiz-heading {
    text-align: center;
    margin-bottom: 50px;
    .title {
        font-size: 40px;
    }
    .desc {
        font-size: 20px;
    }
    .rank-btn {
        font-size: 40px;
    }
}

// // question

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.quiz-list {
    margin: 0;
    padding: 25px;
}

.quiz-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    font-size: 20px;
}

.quiz-options {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.option {
    margin-left: 10px;
}
.submit-btn {
    display: flex;
    justify-content: center;
    margin: 200px 0 200px 0;
    .submit {
        width: 160px;
        height: 50px;
        .text-submit {
            font-size: 20px;
            font-weight: 600;
        }
    }
}

.back {
    cursor: pointer;
    width: 160px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 600;
    color: var(--gray-color);
    background-color: white;
    border-radius: 40px;
    border: solid var(--gray-color);
    transition: all 0.2s;
    letter-spacing: 1px;
    &:hover {
        background: var(--gray-color);
        color: white;
    }
}

.modal-header {
    text-align: center;
    margin-left: 120px;
}
.modal {
    text-align: center;
    .modal-title {
        font-size: 30px;
    }

    .warning-title {
        color: #f29c1f;
    }
}

.quiz-item-after {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 20px;
}

.accordion-header,
.show-score {
    font-size: 20px;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;

    .reload {
        font-size: 20px;
        margin-left: 50px;
    }
    .back-after {
        font-size: 20px;
    }
    .rank-btn{
        font-size: 20px;
        margin-left: 50px;
    }
}
