.wrapper {
    min-height: 100px;
    margin-top: 8px;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--dark-color-0);
    color: var(--white-color);
    box-shadow: var(--box-shadow-2);
}

.title {
    font-size: 12px;
    font-weight: 600;
}

.content {
    margin-top: 8px;
}
