.wrapper {
    height: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
}

.section {
    margin: auto;
    width: 80%;
    font-size: 30px;
}

.wrapper-add-question {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.information-add-question {
    font-size: 50px;
    margin: 0 0 40px 50px;
}

.add-question-title {
    margin: 20px 0 20px 50px;
    font-size: 50px;
}

.add-question {
    margin: 20px 0 0 50px;
}
