.wrapper {
    height: 100%;
    padding-bottom: 30px;
    margin-top: 30px;
}

.section {
    margin: auto;
    width: 80%;
    font-size: 30px;
}

.wrapper-add-question {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.information-add-question {
    font-size: 50px;
    margin: 0 0 40px 50px;
}

.heading-add-question {
    display: flex;
    margin-left: 50px;
    font-size: 20px;
    border-radius: 20px;
    height: 150px;
    width: 800px;
    border: 1px solid #9c9a9a;
}

.type {
    font-size: 30px;
}

.inner-type {
    display: flex;
    font-size: 20px;
    border: 1px solid #b1154a;
    margin-left: 200px;
    border-radius: 20px;
    width: 800px;
    padding: 20px 0;

    .mode {
        margin-top: 20px;
        margin-left: 50px;
    }

    .gender {
        margin-top: 20px;
        margin-left: 50px;
    }

    .set-time {
        margin-top: 20px;
        height: 50px;
        width: 200px;
        margin-left: 50px;
    }
}

.add-question-title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 50px;
}

.add-question-title {
    margin: 20px 0 20px 50px;
    font-size: 50px;
}

.add-question {
    margin: 20px 0 0 50px;
}
