.wrapper {
    display: block;
    
}
.options-input {
    margin-bottom: 30px;
    width: 500px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
}

.check{
    color: var(--gray-color);
}

.delete-option-btn {
    margin-left: 10px;
    height: 30px;
    font-size: 20px;
}

.add-option-btn {
    margin-left: 10px;
    height: 30px;   
    font-size: 20px;    
}

.save-option-btn {
    margin-top: 10px;
    margin-left: 300px;
    .save-option-text{
        font-size: 15px;
    }
}
