.wrapper {
    display: block;
    margin-left: 50px;
    margin-top: 50px;
}
.inner {
    margin-top: 50px;
}
.current-question {
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.questions-input {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
    border: 1px solid #9c9a9a;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
}
.delete-question-btn {
    margin-left: 10px;
    .delete-question-text {
        font-size: 25px;
    }
}
.add-question-btn {
    margin-top: 10px;
    margin-left: 810px;
    .add-question-text{
        font-size: 25px;
    }
    margin-bottom: 400px;
}
.submit-question-btn {
    margin-top: 100px;
    margin-left: 500px;
    font-size: 30px;
    width: 300px;
    .submit-question-text {
        font-size: 30px;
    }
}
