.wrapper,
.sidebar-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    --width: 96px;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: var(--default-layout-header-height);
    width: var(--width);
    z-index: 8;
    .active {
        background-color: var(--gray-light-color-2);
    }
    .sidebar-item-link {
        width: 72px;
        height: 72px;
        font-weight: 500;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        color: var(--text-color);
        &-icon {
            font-size: 20px;
            height: 20px;
            margin-bottom: 3px;
            // display: flex;
            // margin: auto;
        }
    }
}
