.wrapper {
    width: 600px;
    // margin: 0 auto;
    top: 100%;
    right: 30%;
    position: absolute;
    .form-submit {
        min-height: 320px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        .form-header {
            border-bottom: 1px solid #ccc;
            font-weight: 800;
            font-size: 30px;
            margin: 0 0 20px 0;
            h2 {
                margin-bottom: 15px;
                font-size: 25px;
            }
            span {
                color: var(--primary-color);
            }
        }
        .form-choice {
            .form-btn {
                margin: 20px 0 20px 0;
            }
        }
        .form-check {
            display: flex;
            margin-top: 10px;
        }
        .form-send {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
